<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV Splitter</title>
    <script>
        function splitEqually() {
            let fileInput = document.querySelector('input[name="file"]').files[0];
            let partsCount = document.querySelector('input[name="file_names"]').value.split(",").length;

            if (!fileInput) {
                alert("Выберите файл перед разделением поровну!");
                return;
            }

            let formData = new FormData();
            formData.append("file", fileInput);
            formData.append("parts_count", partsCount);

            fetch("/calculate_equal_parts", {
                method: "POST",
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.querySelector('input[name="rows_per_file"]').value = data.rows_per_file;
            });
        }
    </script>
</head>
<body>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required><br><br>
        <input type="text" name="file_names" placeholder="file1,file2,file3" required><br>
        <input type="text" name="rows_per_file" required>
        <button type="button" onclick="splitEqually()">Разделить поровну</button><br><br>
        <button type="submit" name="action_type" value="filter_email">Фильтровать Email</button>
        <button type="submit" name="action_type" value="split_contacts">Разделить контакты</button>
    </form>
</body>
</html>
